.login-form {
  margin-top: 50px;
  padding: 20px;
  border-radius: 8px;
  margin-left: 15px;
  margin-right: 15px;
}

ion-button {
  margin-top: 10px;
}

.header-section {
  margin-top: 40px;
  margin-bottom: 40px;

  .icon-box {
    ion-icon {
      font-size: 90px;
      color: var(--ion-color-primary);
      filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
    }
  }

  h1 {
    font-size: 2.8rem;
    font-weight: 800;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #222;

    span {
      color: var(--ion-color-primary);
    }
  }

  p {
    color: #666;
    font-size: 0.95rem;
    line-height: 1.4;
    padding: 0 30px;
    margin-top: 10px;
  }
}
